<div class= "wrap" style="position: relative; display: flex; text-align: center; align-items: center; padding: 1.8em; background-color: rgb(224, 224, 224) !important; color: black; background-color: #FFF; width: inherit; height: 80%;">
    <div class= "chapter" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; width: 350px; min-width: 200px; height: 90%; background-color: white;">
            <%- classes %>
    </div>
    <div style="height: 90%; margin-left:2em; margin-right: auto; width: 1200px; min-width: 250px;">
            <%- homework %>
    </div>
    <div style="clear:both;"></div>
</div>
