<!DOCTYPE HTML>
<html>
    <head>
        <title>StudyCatch</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/main.css" />
        <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                    <a href="/" class="logo"><strong>STUDYCATCH</strong> <span>By Conesecutive</span></a>
                    <nav>
                        <a href="#" style="font-size: 1.3em; padding: 0 0.25em;"><%= userName %></a>
                        <a href="#menu">Menu</a>
                    </nav>
                </header>

            <!-- Menu -->
                <nav id="menu">
                    <ul class="links">
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/home/create_group">커뮤니티 생성</a></li>
                        <li><a href="generic.html">Generic</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                    <ul class="actions stacked">
                        <li><a href="/join/" class="button primary fit">Get Started</a></li>
                        <li><a href="/login/" class="button fit">Log In</a></li>
                    </ul>
                </nav>
            <!-- Banner -->
                <%- banner %>

            <!-- 여기다가 강의 생성할 수 있게끔 UI 띄우기 -->
            <div id="main" class="alt">
                <!-- One -->
                <section id="one">
                    <div class="inner">
                        <%- control %>
                    </div>

                </section>

            </div>
                
            <!-- Footer -->
            <footer id="footer">
                    <div class="inner">
                        <ul class="icons">
                            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; Consecutive</li><li>Design: <a href="#">StudyCatch</a></li>
                        </ul>
                    </div>
                </footer>
        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>