<div class= "inner">
    <form action="/community/<%= communityID %>/lectures/<%= classID %>/<%= chapterID %>/study_create" 
        method="post" enctype="multipart/form-data" style="color:black;">
        <h2 class="blackcolor">교육자료 쓰기
            <small>교육 자료 쓰기 버튼을 누르면 교육자료가 올라갑니다.</small>
        </h2>
        <div class="createContainer">
            <div class="group">
                <input type="text" name="title" placeholder="title" value="<%= studyTitle %>" class="createText">
            </div>
            <div class="group">
                <textarea rows="5" name="description" placeholder="description" class="createText"></textarea>
            </div>
            <div class="group">
                <input type="file" name="file" style="color:black;">
            </div>
            <div class="buttonContainer">
                <input type="submit" value="교육 자료 쓰기" class="ph-button ph-btn-deepgreen">
            </div>
        </div>
    </form>
</div>