
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <a href="/community/<%= communityID %>"><h1 style="margin: 0;"><%= communityName %></h1></a>
        </header>
        <div class="content" style="margin: -1em 0 3em 0.5em;">
            <p style="font-size: 0.8em; font-weight: 500;"><%= introduction %><br />
            Study Catch 화이팅!</p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">둘러 보기</a></li>
            </ul>
        </div>
    </div>
</section>

