<div class= "wrap" style="position: relative; display: flex; text-align: center; align-items: center; padding: 1.8em; background-color: rgb(224, 224, 224) !important; color: black; background-color: #FFF; width: inherit; height: 80%;">
    

    <div class= "chapter" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; width: 300px; min-width: 150px; height: 90%; background-color: #FFFFFF;">
        <div style="padding-bottom: 0.25em; border-radius:6px 6px 0 0/ 6px 6px 0 0; color: white; font-size: 1.4em; background-color: #819eac;">
            <div style="padding-top: 0.25em;">게시판</div>
        </div>
        
        <section style="padding: 1em 0 0 0;">
            <a style="font-weight: 600; font-size:1.2em;" href=/QnA/<%= communityID %>> 질문게시판 </a>
        </section>

        <section style="padding: 1em 0 0 0;">
            <a style="font-weight: 600; font-size:1.2em;" href=/free/<%= communityID %>> 자유게시판 </a>
        </section>

    </div>
    <div class= "content" style="display: inline-block; box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); border-radius: 6px; position: relative; margin-left:2em; margin-right: auto; width: 1200px; min-width: 250px; height: 90%; padding: 0 2em 0 2em; background-color: #FFFFFF; color: black;">
    
        <!-- <section> -->
            <%- board %>
        <!-- </section> -->

    </div><div style="clear:both;"></div>
</div>
