<!--
    <%- control %>
    style="position: relative; display: flex; text-align: center; align-items: center; padding: 1.8em; color: black; background-color: #F2F2F2; width: inherit; height: 80%;"
-->
<div class= "inner">
    <%- control %>
</div>