<% for(var i = 0; i < communities.length; i++){ %>
    <article>
        <span class="image">
            <img src="images/pic0<%= i%10 %>.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="/community/<%=communities[i].id %>" class="link"><%= communities[i].communityName %></a></h3>
            <p><%= communities[i].introduction %></p>
        </header>
    </article>
<% } %>