<!DOCTYPE HTML>
<html>
    <head>
        <title>StudyCatch</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/css/community.css" />
        <link rel="stylesheet" href="/css/cardCss.css" />
        <noscript><link rel="stylesheet" href="/css/community.css" /></noscript>
        
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Header -->
                    <header id="header" class="alt">
                        <a href="/home/" class="logo"><strong>STUDYCATCH</strong> <span>By Conesecutive</span></a>
                        <nav>
                            <a href="#" style="font-size: 1.3em; padding: 0 0.25em;"><%= userName %></a>
                            <a href="#menu">Menu</a>
                        </nav>
                    </header>

                <!-- Menu -->
                    <nav id="menu">
                        <ul class="links">
                            <li><a href="/home/">Home</a></li>
                            <li><a href="/home/create_group">커뮤니티 생성</a></li>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <% if(userName == " "){ %>
                                <li><a href="/join/" class="button primary fit">Get Started</a></li>
                                <li><a href="/login/" class="button fit">Log In</a></li>
                            <% }
                            else{ %>
                                <li><a href="/auth/logout" class="button fit">Log Out</a></li>
                            <% } %>
                        </ul>
                    </nav>

                <!-- Banner -->
                    <%- banner %>

                <!-- Main -->
                    <div id="main" style="background-color: white;">

                        <!-- One -->
                            <section id="one" class="tiles">
                                <%- communitiesTile %>
                            </section>

                    </div>

                <!-- Footer -->
                    <footer id="footer" style="background-color: #234038;">
                        <div class="inner">
                            <ul class="icons">
                                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                            </ul>
                            <ul class="copyright">
                                <li>&copy; Consecutive</li><li>Design: <a href="#">StudyCatch</a></li>
                            </ul>
                        </div>
                    </footer>

            </div>

        <!-- Scripts -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/jquery.scrolly.min.js"></script>
            <script src="/js/jquery.scrollex.min.js"></script>
            <script src="/js/browser.min.js"></script>
            <script src="/js/breakpoints.min.js"></script>
            <script src="/js/util.js"></script>
            <script src="/js/main.js"></script>

    </body>
</html>
    