<section id="banner" class="major" style="height:auto; align-items: center; justify-content: center; padding: 10% 30%">
    <div class="inner">
        <h3 style="margin: 0 0 0.6em 0;"> 회원가입 성공! </h3>

        <br>
        <hr>

        <p>이제 로그인하여 Study Catch 를 즐겨보세요!</p>
        <p><a class="button" href="/home/">HOME</a></p>
    </div>
</section>
