<section id="banner" class="major" style="height:auto; align-items: center; justify-content: center; padding: 10% 30%">
    <div class="inner">
        <h3 style="margin: 0 0 0.6em 0;"> 회원가입 </h3>

      <% 
        if(message.length > 0){ %>
            <p><%= message %></p>
        <% } %>
        
      <form action="/auth/register" method="post">
        <p>
          <input type="text" name="username" placeholder="아이디">
        </p>
        <p>
          <input type="password" name="password" placeholder="비밀번호">
        </p>
        <p>
          <input type="password" name="password_check" placeholder="비밀번호 확인">
        </p>
        <p>
          <input type="text" name="displayName" placeholder="이름">
        </p>
        <p>
          <input type="text" name="email_id" placeholder="이메일"> @
          <input type="text" name="email_site">
        </p>
        <p>
            <select name="approved">
                <option value="student">학생</option>
                <option value="teacher">강사</option>
            </select>
        </p>
        <p>
          <input type="submit" value="join">
        </p>
      </form>
    </div>
</section>









