<!-- 교육 목록 2줄 배열 -->
<div class= "wrap" style="display: grid; margin-top: 0; padding: 1em; padding-top: 1.8em; background-color: #F2F2F2 !important; color: black; grid-template-columns: repeat(<%= Math.ceil(lectures.length/1.9) %>, 525px); grid-auto-rows: minmax(10em, auto); background-color: #FFF; width: inherit; height: 80%; overflow-x: scroll;">
    <% for(var i = 0; i < lectures.length; i++){ %>
        <%- lectures[i] %>
    <% } %>
    <h2 style="color: #bbbbbb;"><%- message %></h2>
</div>
