<section id="banner" class="major" style="height:auto; align-items: center; justify-content: center; padding: 10% 30%">
    <div class="inner">
        <h3 style="margin: 0 0 0.6em 0;"> 로그인 </h3>
        <% 
        if(message.length > 0){ %>
            <p><%= message %></p>
        <% } %>

        <form action="/auth/login" method="post">
            <p>
                <input type="text" name="username" placeholder="username">
            </p>
            <p>
                <input type="password" name="password" placeholder="password">
            </p>
            <p>
                <input type="submit" value="Log in">
            </p>
        </form>

        <br>
        <hr>
        <p> 아직 회원이 아니시라면?     </p>
        <a class="button" href="/join/">회원가입</a>
    </div>
</section>