<section id="banner" class="major" style="height:auto; align-items: center; justify-content: center; padding: 10% 30%">
        <div class="inner">
            <h3 style="margin: 0 0 0.6em 0;"> 회원정보 변경 </h3>
            <% 
            if(message.length > 0){ %>
                <p><%= message %></p>
            <% } %>

            <form action="/mypage/modify_process" method="post">

                <p> 
                    아이디 : <%= userId %>
                </p>
                <p>
                <input type="password" name="password" placeholder="비밀번호">
                </p>
                <p>
                <input type="password" name="password_check" placeholder="비밀번호 확인">
                </p>
                <p>
                <input type="text" name="displayName" value=<%= displayName %>>
                </p>
                <p>
                    이메일 : <%= email %>
                </p>
                <p>
                    <input type="submit" value="수정">
                </p>
            </form>
        </div>
    </section>